node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

*.zip
Attached-Asset.zip
zi6IG379
node_modules
.local


*.zip
.local/
node_modules/
.local/
.replit
replit.md
attached_assets/

.local/
attached_assets/
.replit
replit.md
node_modules/


node_modules
.env
dist
build
.vite
.vercel
*.log
.DS_Store
